/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Kalam", cursive, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
  background-color: rgb(221, 204, 172);
}

.question-box {
  width: 65%;
}
.header {
  text-align: center;
  color: rgb(104, 77, 9);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  gap: 75px;
  background-color: rgb(104, 77, 9);
  padding: 10px 20px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.question-text {
  font-weight: 500;
}
.btn {
  width: 32px;
  height: 30px;
  text-align: center;
  padding-bottom: 10px;

  border-radius: 2px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  scale: 1.05;
}

.answer {
  font-size: 18px;
  background-color: white;
  padding: 15px 20px;
  color: rgb(104, 77, 9);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  color: rgb(104, 77, 9);
}
.answer-text {
  width: 100%;
  font-weight: 500;
}
.answer {
  display: none;
}
.answer.show {
  display: block;
}
